@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-outline {
    -webkit-text-stroke: 2px whitesmoke;
  }
}

.jetbrains-mono {
    font-family: "JetBrains Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .logo-font{
    font-family: "Monoton", serif;
    font-weight: 400;
    font-style: normal;
  }
  